/***********
NAVBAR
***********/

.nav-bar {
    z-index: 10;
    width: 100%;
}

.nav-links {
    height: 70px;
    width: 100%;
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    box-shadow: 0 8px 6px -6px;
}
